body {
    color: #1b2733;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr:

}

p {
    margin: 0 0 14px;
}

h2 {
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
    margin-top: 32px;
}

h3 {
    font-size: 20px;
}

a {
    color: #007af5;
}

ol{
    padding-inline-start: 20px;

}

.container {
    max-width: 745px;
}

.right {
    float: right;
    text-align: right;
}

nav {
    display: none;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #D3D3D3;

}

.navbar-default .navbar-brand {
    color: #1b2733;
}

.navbar-default .navbar-brand:hover {
    color: #000;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #000;
}

.navbar-default .navbar-nav li a:hover {
    color: #000;
    background-color: #3d80ba;
}

.navbar-default .navbar-nav .active a {
    color: #000;
    background-color: #3d80ba;
}

.navbar-default .navbar-toggle:hover{
    background-color: #007af5;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    background-color: #428bca;
}

.dropdown-header {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding-left :10px;
}
.dropdown-menu li a {
    color: #000;
}

.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #3d80ba;
    color: #000;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    padding-top: 72px;
}

#content img {
    max-width:100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr:

}


footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 45px;
    line-height: 80px;
    font-weight: 500;
    color: #1b2733;
    margin-bottom: 0px;
}

img {
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 32px;
}

#post-meta {
    font-size: 16px;
    color: #1b2733;
    font-style: italic;
    line-height: 26px;
    font-weight: 400;

}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 21px;
}

pre {
    overflow-x: auto;
}
pre code {
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;2a6496
}

code {
    color: #1b2733;
}

pre, code, .hljs {
    background-color: #F1F4F7;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .dropdown-menu>li>a {
        padding: 3px 20px;
    }
    .navbar-nav>li>a {
        padding: 21px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
}

@media (max-width: 767px) {
   .navbar-default .navbar-brand {
        font-size: 21px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
